
Notebooks/.ipynb_checkpoints/PlayingWithML-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/PythonTutorial-checkpoint.ipynb
Assignments/A3-Gesture/GestureRecognizer/.ipynb_checkpoints/A3-GestureRecognizer-checkpoint.ipynb
